@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* neutral-50 */
    --foreground: 222.2 47.4% 11.2%; /* neutral-900 */

    --muted: 210 40% 96.1%; /* neutral-100 */
    --muted-foreground: 215.4 16.3% 46.9%; /* neutral-500 */

    --popover: 0 0% 100%; /* neutral-50 */
    --popover-foreground: 222.2 47.4% 11.2%; /* neutral-900 */

    --card: 0 0% 100%; /* neutral-50 */
    --card-foreground: 222.2 47.4% 11.2%; /* neutral-900 */

    --border: 214.3 31.6% 91.4%; /* neutral-200 */
    --input: 214.3 31.6% 91.4%; /* neutral-200 */

    --primary: 36 92% 50%; /* warm-500 */
    --primary-foreground: 0 0% 100%; /* neutral-50 */

    --secondary: 210 40% 96.1%; /* neutral-100 */
    --secondary-foreground: 222.2 47.4% 11.2%; /* neutral-900 */

    --accent: 210 40% 96.1%; /* neutral-100 */
    --accent-foreground: 222.2 47.4% 11.2%; /* neutral-900 */

    --destructive: 0 84.2% 60.2%; /* soft-red */
    --destructive-foreground: 0 0% 100%;

    --ring: 215.4 16.3% 46.9%; /* neutral-500 */

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 47.4% 11.2%; /* neutral-900 */
    --foreground: 210 40% 96.1%; /* neutral-100 */

    --muted: 217.2 32.6% 17.5%; /* neutral-800 */
    --muted-foreground: 215 20.2% 65.1%; /* neutral-400 */

    --popover: 222.2 47.4% 11.2%; /* neutral-900 */
    --popover-foreground: 210 40% 96.1%; /* neutral-100 */

    --card: 222.2 47.4% 11.2%; /* neutral-900 */
    --card-foreground: 210 40% 96.1%; /* neutral-100 */

    --border: 217.2 32.6% 17.5%; /* neutral-800 */
    --input: 217.2 32.6% 17.5%; /* neutral-800 */

    --primary: 36 92% 50%; /* warm-500 */
    --primary-foreground: 0 0% 100%; /* neutral-50 */

    --secondary: 217.2 32.6% 17.5%; /* neutral-800 */
    --secondary-foreground: 210 40% 96.1%; /* neutral-100 */

    --accent: 217.2 32.6% 17.5%; /* neutral-800 */
    --accent-foreground: 210 40% 96.1%; /* neutral-100 */

    --destructive: 0 62.8% 30.6%; /* soft-red-dark */
    --destructive-foreground: 210 40% 96.1%;

    --ring: 217.2 32.6% 17.5%; /* neutral-800 */
  }
}
